<h1>Tabelas</h1>

<hr />

<div *ngIf="clientes.length == 0">Não há clientes cadastrados</div>
<table
  class="table table-bordered dataTable"
  id="dataTable"
  width="100%"
  cellspacing="0"
  role="grid"
  aria-describedby="dataTable_info"
  style="width: 100%"
>
  <thead>
    <tr role="row">
      <th
        class="sorting sorting_asc"
        tabindex="0"
        aria-controls="dataTable"
        rowspan="1"
        colspan="1"
        aria-sort="ascending"
        aria-label="Name: activate to sort column descending"
        style="width: 154px"
      >
        ID
      </th>
      <th
        class="sorting"
        tabindex="0"
        aria-controls="dataTable"
        rowspan="1"
        colspan="1"
        aria-label="Position: activate to sort column ascending"
        style="width: 237px"
      >
        Nome
      </th>
      <th
        class="sorting"
        tabindex="0"
        aria-controls="dataTable"
        rowspan="1"
        colspan="1"
        aria-label="Age: activate to sort column ascending"
        style="width: 47px"
      >
        CPF
      </th>
      <th
        class="sorting"
        tabindex="0"
        aria-controls="dataTable"
        rowspan="1"
        colspan="1"
        aria-label="Office: activate to sort column ascending"
        style="width: 109px"
      >
        Telefone
      </th>
      <th
        class="sorting"
        tabindex="0"
        aria-controls="dataTable"
        rowspan="1"
        colspan="1"
        aria-label="Age: activate to sort column ascending"
        style="width: 47px"
      >
        Endereço
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="odd" *ngFor="let cliente of clientes">
      <td class="sorting_1">{{ cliente.id }}</td>
      <td>{{ cliente.nome }}</td>
      <td>{{ cliente.cpf }}</td>
      <td>{{ cliente.telefone }}</td>
      <td>{{ cliente.endereco }}</td>
    </tr>
  </tbody>
</table>
